{% extends 'base.html' %}
{% load markdownify %}

{% comment %} {% block content%}
  <main class="recipe-grid">
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'meal_plan_detail' mealplan.pk %}">{{ mealplan.plan_name }}</a>
        </h2>
        <p >{{ mealplan.owner }}</p>
      </div>
  </main>
{% endblock content%}
{% extends 'base.html' %}
{% load markdownify %} {% endcomment %}


{% block content%}
<main class="recipe-detail">
    <div>
        <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
        <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h1>Recipes for {{ mealplan.plan_name }}</h1>
    <h2>on {{ mealplan.date_served }}</h2>
    <ol>
        {% for recipe in mealplan.recipes.all %}
            <p><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a></p>
        {% endfor %}
    </ol>
</main>
{% endblock content%}
